<wxusers>
	<wxuser>
		<username></username>
		<host>127.0.0.1</host>
		<wxconfigs>
			<wxconfig>
				<descname>万江龙网络2</descname>
				<appid>wxac2386f873f97f70</appid>
				<openid>oIrGUuFaWnkx4_GnumaKfXoYjh44</openid>
			</wxconfig>
			<wxconfig>
				<descname>万江龙测试账号</descname>
				<appid>wx7ea5ea5080ce5c1f</appid>
				<openid>oIrGUuFaWnkx4_GnumaKfXoYjh44</openid>
			</wxconfig>
		</wxconfigs>
		<userinfo>
			<nickname></nickname>
			<sex></sex>
			<province></province>
			<city></city>
			<country></country>
			<headimgurl></headimgurl>
		</userinfo>
	</wxuser>
	<wxuser>
		<username>罗正加</username>
		<host>172.16.24.86,172.16.4.8,172.16.25.143</host>
		<wxconfigs>
			<wxconfig>
				<descname>万江龙网络2</descname>
				<appid>wxac2386f873f97f70</appid>
				<openid>oVDyijr2ePsX_QIWcszp6wUmVWj4</openid>
			</wxconfig>
			<wxconfig>
				<descname>万江龙测试账号</descname>
				<appid>wx7ea5ea5080ce5c1f</appid>
				<openid>oHqfrw9z6QxdCyg73P7fIap1uCl8</openid>
			</wxconfig>
			<wxconfig>
				<descname>万江龙网络2-测试账号</descname>
				<appid>wx72baeba1d1846561</appid>
				<openid>odD_OsyWGUc325cnwop7i9QdJSpE</openid>
			</wxconfig>
		</wxconfigs>
		<userinfo>
			<nickname>parcel</nickname>
			<sex>1</sex>
			<province>湖北</province>
			<city>武汉</city>
			<country>中国</country>
			<headimgurl>http://wx.qlogo.cn/mmopen/Q3auHgzwzM5WWsZGtk7nztusAgj1VUz4VhXpicsibuJLHpAcjAADcKgzmFmCjChGHT6csFOmuukMKTHuQgDqRCXg/0
			</headimgurl>
		</userinfo>
	</wxuser>

	<wxuser>
		<username>陈炼</username>
		<host>172.16.24.128</host>
		<wxconfigs>
			<wxconfig>
				<descname>万江龙网络2</descname>
				<appid>wxac2386f873f97f70</appid>
				<openid>oVDyijiSROK4wrAsPyXwzGk7GNAk</openid>
			</wxconfig>
			<wxconfig>
				<descname>万江龙测试账号</descname>
				<appid>wx7ea5ea5080ce5c1f</appid>
				<openid>oHqfrw2XZbRsCh1cLTcUiqvB98u0</openid>
			</wxconfig>
		</wxconfigs>
		<userinfo>
			<nickname>陈炼</nickname>
			<sex>1</sex>
			<province>湖北</province>
			<city>武汉</city>
			<country>中国</country>
			<headimgurl>http://wx.qlogo.cn/mmopen/uZgYZ4C2E0vlt1iaRmEvYKkadgan1kd4QKCzv1dWmYlZETyhpdXLqeL19HuK6ickY6v834dO0fEEka2Nl0micxjDciboibFNQ2zic8/0
			</headimgurl>
		</userinfo>
	</wxuser>
	<wxuser>
		<username>叶青</username>
		<host>172.16.2.25,172.16.1.19</host>
		<wxconfigs>
			<wxconfig>
				<descname>万江龙网络2</descname>
				<appid>wxac2386f873f97f70</appid>
				<openid>oVDyijvZPG9j5E2sm04iKTcLYzbU</openid>
			</wxconfig>
		</wxconfigs>
		<userinfo>
			<nickname>叶青</nickname>
			<sex>1</sex>
			<province>湖北</province>
			<city>武汉</city>
			<country>中国</country>
			<headimgurl>http://wx.qlogo.cn/mmopen/uZgYZ4C2E0vlt1iaRmEvYKkadgan1kd4QKCzv1dWmYlZETyhpdXLqeL19HuK6ickY6v834dO0fEEka2Nl0micxjDciboibFNQ2zic8/0
			</headimgurl>
		</userinfo>
	</wxuser>
	<wxuser>
		<username>葛晶</username>
		<host>172.16.25.195,172.16.1.20</host>
		<wxconfigs>
			<wxconfig>
				<descname>万江龙网络2</descname>
				<appid>wxac2386f873f97f70</appid>
				<openid>oVDyijor9IBis20gdQ0p2-XiRq0k</openid>
			</wxconfig>
		</wxconfigs>
		<userinfo>
			<nickname>葛晶</nickname>
			<sex>1</sex>
			<province>湖北</province>
			<city>武汉</city>
			<country>中国</country>
			<headimgurl>http://wx.qlogo.cn/mmopen/uZgYZ4C2E0vlt1iaRmEvYKkadgan1kd4QKCzv1dWmYlZETyhpdXLqeL19HuK6ickY6v834dO0fEEka2Nl0micxjDciboibFNQ2zic8/0
			</headimgurl>
		</userinfo>
	</wxuser>
	
	<wxuser>
		<username>伍伟</username>
		<host>172.16.24.106</host>
		<wxconfigs>
			<wxconfig>
				<descname>万江龙网络2</descname>
				<appid>wxac2386f873f97f70</appid>
				<openid>oVDyijiaFePS1n4Ru46TJS2pNGAE</openid>
			</wxconfig>
			<wxconfig>
				<descname>万江龙网络2-测试账号</descname>
				<appid>wx72baeba1d1846561</appid>
				<openid>odD_Os5T3ZYYyND98DLiXNG8Vzco</openid>
			</wxconfig>
			
		</wxconfigs>
		<userinfo>
			<nickname>伍伟</nickname>
			<sex>1</sex>
			<province>湖北</province>
			<city>武汉</city>
			<country>中国</country>
			<headimgurl>http://wx.qlogo.cn/mmopen/uZgYZ4C2E0vlt1iaRmEvYKkadgan1kd4QKCzv1dWmYlZETyhpdXLqeL19HuK6ickY6v834dO0fEEka2Nl0micxjDciboibFNQ2zic8/0
			</headimgurl>
		</userinfo>
	</wxuser>
	
	<wxuser>
		<username>徐凌云</username>
		<host>172.16.26.78</host>
		<wxconfigs>
			<wxconfig>
				<descname>万江龙网络2</descname>
				<appid>wxac2386f873f97f70</appid>
				<openid>oVDyijpIuWebAIZEYKHk0eDBUM94</openid>
			</wxconfig>
		</wxconfigs>
		<userinfo>
			<nickname>徐凌云</nickname>
			<sex>1</sex>
			<province>湖北</province>
			<city>武汉</city>
			<country>中国</country>
			<headimgurl>http://wx.qlogo.cn/mmopen/uZgYZ4C2E0vlt1iaRmEvYKkadgan1kd4QKCzv1dWmYlZETyhpdXLqeL19HuK6ickY6v834dO0fEEka2Nl0micxjDciboibFNQ2zic8/0
			</headimgurl>
		</userinfo>
	</wxuser>
	
</wxusers>
