<wxusers>
	<wxuser>
		<username></username>
		<host>127.0.0.1</host>
		<wxconfigs>
			<wxconfig>
				<descname>万江龙网络2</descname>
				<appid>wxac2386f873f97f70</appid>
				<openid>oIrGUuFaWnkx4_GnumaKfXoYjh44</openid>
			</wxconfig>
			<wxconfig>
				<descname>万江龙测试账号</descname>
				<appid>wx7ea5ea5080ce5c1f</appid>
				<openid>oIrGUuFaWnkx4_GnumaKfXoYjh44</openid>
			</wxconfig>
		</wxconfigs>
		<userinfo>
			<nickname></nickname>
			<sex></sex>
			<province></province>
			<city></city>
			<country></country>
			<headimgurl></headimgurl>
		</userinfo>
	</wxuser>

	<wxuser>
		<username>罗正加</username>
		<host>172.16.24.86,172.16.4.8,172.16.25.143</host>
		<wxconfigs>
			<wxconfig>
				<descname>万江龙网络2</descname>
				<appid>wxac2386f873f97f70</appid>
				<openid>oVDyijr2ePsX_QIWcszp6wUmVWj4</openid>
			</wxconfig>
			<wxconfig>
				<descname>万江龙测试账号</descname>
				<appid>wx7ea5ea5080ce5c1f</appid>
				<openid>oHqfrw9z6QxdCyg73P7fIap1uCl8</openid>
			</wxconfig>
			<wxconfig>
				<descname>万江龙网络2-测试账号</descname>
				<appid>wx72baeba1d1846561</appid>
				<openid>oHqfrw9z6QxdCyg73P7fIap1uCl8</openid>
			</wxconfig>
		</wxconfigs>
		<userinfo>
			<nickname>parcel</nickname>
			<sex>1</sex>
			<province>湖北</province>
			<city>武汉</city>
			<country>中国</country>
			<headimgurl>http://wx.qlogo.cn/mmopen/Q3auHgzwzM5WWsZGtk7nztusAgj1VUz4VhXpicsibuJLHpAcjAADcKgzmFmCjChGHT6csFOmuukMKTHuQgDqRCXg/0
			</headimgurl>
		</userinfo>
	</wxuser>
	<wxuser>
		<username>陈彬彬</username>
		<host>172.16.4.5,172.16.24.76</host>
		<wxconfigs>
			<wxconfig>
				<descname>万江龙网络2</descname>
				<appid>wxac2386f873f97f70</appid>
				<openid>oVDyijrcxgGh_Pw2Jdc2NdWPiOM0</openid>
			</wxconfig>
			<wxconfig>
				<descname>万江龙测试账号</descname>
				<appid>wx7ea5ea5080ce5c1f</appid>
				<openid>oHqfrwz6SOwiFPSkmmkwYNgey-T4</openid>
			</wxconfig>
		</wxconfigs>
		<userinfo>
			<nickname>Arthur</nickname>
			<sex>1</sex>
			<province>湖北</province>
			<city>武汉</city>
			<country>中国</country>
			<headimgurl>http://wx.qlogo.cn/mmopen/AHe4aAgSdeY9kvYwU1YMYD52V8iaXwkqKZaKcwnxRZjXgkVkKHJ6Uic07DA1bHnDN5NlBibgbN3VYDgXE8H0uyMpIfozS5ngXZ8/0
			</headimgurl>
		</userinfo>
	</wxuser>
	<wxuser>
		<username>胡鹏</username>
		<host>172.16.26.30,172.16.3.7,172.16.25.55,172.16.24.159,172.16.3.7</host>
		<wxconfigs>
			<wxconfig>
				<descname>万江龙网络2</descname>
				<appid>wxac2386f873f97f70</appid>
				<openid>oVDyijhRFUY9H_itAaGcWo7LEsSs</openid>
			</wxconfig>
			<wxconfig>
				<descname>万江龙测试账号</descname>
				<appid>wx7ea5ea5080ce5c1f</appid>
				<openid>oHqfrw6dB2-Jc0lSeZKCxHX4uWtI</openid>
			</wxconfig>
		</wxconfigs>
		<userinfo>
			<nickname>return</nickname>
			<sex>1</sex>
			<province>湖北</province>
			<city>武汉</city>
			<country>中国</country>
			<headimgurl>http://wx.qlogo.cn/mmopen/uZgYZ4C2E0vlt1iaRmEvYKrKBd9I1IagrPSn6M2ibkfI9KSxbSvmlMGIIzxJ7mA3Yd9Lboeu6tOL0Rv4PT3NjW2JrXHsfjkWrh/0
			</headimgurl>
		</userinfo>
	</wxuser>

	<wxuser>
		<username>陈煜</username>
		<host>172.16.3.8,172.16.25.172,192.16.25.196</host>
		<wxconfigs>
			<wxconfig>
				<descname>万江龙网络2</descname>
				<appid>wxac2386f873f97f70</appid>
				<openid>oVDyijg6NT-LvCy5uoL7CxBzsCVg</openid>
			</wxconfig>
			<wxconfig>
				<descname>万江龙测试账号</descname>
				<appid>wx7ea5ea5080ce5c1f</appid>
				<openid>oHqfrwwfLM3Wy8OZiwVPlGlJANwc</openid>
			</wxconfig>
		</wxconfigs>
		<userinfo>
			<nickname>陈煜</nickname>
			<sex>1</sex>
			<province>湖北</province>
			<city>武汉</city>
			<country>中国</country>
			<headimgurl>http://wx.qlogo.cn/mmopen/JZ117vto8oic2TcjCfOgD3PlFeScvjRY48PhyDWVGqTBTlE0RN2UHTQcSIL6ep2QH6JWUTfR5WlicamQOicsq7NtrmsGdNiaogkC/0
			</headimgurl>
		</userinfo>
	</wxuser>

	<wxuser>
		<username>佘青</username>
		<host>172.16.26.166</host>
		<wxconfigs>
			<wxconfig>
				<descname>万江龙网络2</descname>
				<appid>wxac2386f873f97f70</appid>
				<openid>oVDyijp-EOz0RV8dPHXBHMMWCOjU</openid>
			</wxconfig>
			<wxconfig>
				<descname>万江龙测试账号</descname>
				<appid>wx7ea5ea5080ce5c1f</appid>
				<openid>oHqfrw2XZbRsCh1cLTcUiqvB98u0</openid>
			</wxconfig>
		</wxconfigs>
		<userinfo>
			<nickname>佘青</nickname>
			<sex>1</sex>
			<province>湖北</province>
			<city>武汉</city>
			<country>中国</country>
			<headimgurl>http://wx.qlogo.cn/mmopen/Q3auHgzwzM6VDKJ6dYgwIQ9DmlkibmO2iaec4hmQNkxKxyjrsYMD48Yicrnlbnhd4QO5MicVEyuk2C3orhEibeGuicXg/0
			</headimgurl>
		</userinfo>
	</wxuser>
</wxusers>